#!/usr/bin/env bash
set -euo pipefail

export STORY_TIME_NFT_ADDRESS="0xcc8c78580574f9af04995ac822597ce4b5bb1e0193e1238e619516386029765b"

export STORY_TIME_NFT_ABI="abi/StoryTimeNFT.json"

export OPENAI_API_KEY="abcabc"

if [ -f .envrc.override ]; then
    source_env .envrc.override
fi
