[submodule "contracts-avax/lib/openzeppelin-contracts"]
	path = contracts-avax/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts-avax/lib/forge-std"]
	path = contracts-avax/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
