@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
tr,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
br,
img,
table,
input,
form,
a,
p,
textarea {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  border: 0;
  display: block;
}
