#!/usr/bin/env bash
set -euo pipefail
PATH_add node_modules/.bin

export STORY_TIME_ADDRESS="0xcc8c78580574f9af04995ac822597ce4b5bb1e0193e1238e619516386029765b"

if [ -f .envrc.override ]; then
    source_env .envrc.override
fi
