#!/usr/bin/env bash
set -euo pipefail
PATH_add node_modules/.bin

export CLOUDFLARE_ACCOUNT_ID="3300ab5dd787b7e9d3aea7642be01901"
export CLOUDFLARE_API_TOKEN=""

if [ -f .envrc.override ]; then
    source_env .envrc.override
fi
