#!/usr/bin/env bash
set -euo pipefail
PATH_add node_modules/.bin

export ETH_NODE_RPC_URL="https://avalanche-fuji-c-chain.publicnode.com"

# Wallet
# ==================
# Mnemonic:          test test test test test test test test test test test junk
# Derivation path:   m/44'/60'/0'/0/
export ETH_ADDRESS=""
export ETH_PRIVATE_KEY=""

export ETH_USER_PRIVATE_KEY=""

export ETHERSCAN_API_KEY=""

source_env .envrc.foundry

if [ -f .envrc.override ]; then
    source_env .envrc.override
fi
